#!/bin/bash
# This script can be used by image preparation tools to 
# copy a specific set of cfg files to the virtual machine 
# right before its been delivered
filepath="${1}"
rootdir="${2}"
usage="Usage: ${0} cfgdir imagemountpoint"
if [[ ! -d "${rootdir}" ]]
then
	echo ${usage}
	exit 1
fi
if [[ -d "${filepath}" ]]
then
	cd "${filepath}"
	for f in *
	do
		if [[ "${f}" == "*" ]]
		then
			continue
		fi
		tpath=$(systemd-escape -p -u "${f}")
		fnam="${tpath##*/}"
		dnam="${rootdir}${tpath%/*}"
		if [[ ! -d "${dnam}" ]]
		then
			mkdir -p "${dnam}" || exit $?
		fi
		cp -a "${f}" "${rootdir}${tpath}" || exit $?
	done
else
	echo ${usage}
	exit 1
fi

