{% for iface in kvm_allowed_bridge_if %}
allow {{ iface.name|default(iface) }}
{% endfor %}
{# next one is to automatically add vxlan bridges as defined in network_interfaces role #}
{% if 'vxlan' in network_interfaces %}
{% for iface in network_interfaces.vxlan %}
{% if 'bridge' in iface %}allow {{ iface.name }}
{% endif %}
{% endfor %}
{% endif }
