#!/bin/bash
DISK=${1}
PARTNUM=${2:-1}
if [[ ${PARTNUM} != 1 ]]
then
fdisk ${DISK} << EOF
d
n
p
1


y
a
w
EOF
RET=$?
else
fdisk ${DISK} << EOF
d
${PARTNUM}
n
p
${PARTNUM}


y
a
w
EOF
RET=$?
fi
if [[ ${RET} != 0 ]]
then
  echo Problems during fdisk 
  exit 2
fi
partprobe ${DISK}
sleep 1
