# qemu config file

[drive]
  file = "/dev/zvol/{{ kvm_zfs_filesystem }}/{{ kvm_machine.name }}/disk"
  if = "{{ kvm_machine_drive_if }}"
  format = "raw"

{% for drive in kvm_machine.disks|default([]) %}
[drive]
  file = "/dev/zvol/{{ kvm_zfs_filesystem }}/{{ kvm_machine.name }}/disk_{{ drive.name }}"
  if = "{{ kvm_machine_drive_if }}"
  format = "raw"

{% endfor %}
[drive]
  if = "floppy"
  index = "0"
  file = "/dev/zvol/{{ kvm_zfs_filesystem }}/{{ kvm_machine.name }}/kickoff"
  format = "raw"

{% for filesystem in kvm_machine.filesystems|default([]) %}
[fsdev "{{ filesystem.name }}"]
  fsdriver = "local"
  path = "{{ kvm_image_root }}/{{ kvm_machine.name }}/fs_{{ filesystem.name }}/"
  security_model = "mapped"
  readonly = "{{ filesystem.readonly|default('off') }}"

[virtfs]
  fsdriver = "local"
  path = "{{ kvm_image_root }}/{{ kvm_machine.name }}/fs_{{ filesystem.name }}/"
  mount_tag = "{{ filesystem.name }}"
  security_model = "mapped"

{% endfor %}
[chardev "mon0"]
  backend = "socket"
  server = "on"
  path = "/tmp/{{ kvm_machine.name }}-kvm/{{ kvm_machine.name }}.monitor.S"
  wait = "off"

{% for bridge in kvm_machine.bridge %}
{% set macbase=[bridge.guest, kvm_machine.name]|join('@')|checksum %}
[device]
  driver = "virtio-net-pci"
  netdev = "{{ bridge.guest }}"
  addr = "{{ '%x'|format(bridge.guest|regex_replace('^e..','')|int) }}"
  mac = "{{ bridge.mac|default(['52', '54', '00', macbase[0:2], macbase[2:4], macbase[4:6]]|join(':')) }}"

[netdev "{{ bridge.guest }}"]
  type = "bridge"
  br = "{{ bridge.host }}"

{% endfor %}
[mon]
  chardev = "mon0"
  mode = "readline"

[machine]
  accel = "{{ kvm_machine_accel_cur }}"
  firmware = "{{ kvm_firmware_root }}/{{ kvm_machine_firmware_type }}.firmware"
  graphics = "off"

[memory]
  size = "{{ kvm_machine.memory|default('1024') }}"

[smp-opts]
  cpus = "{{ kvm_machine.cpu|default(1) }}"

{% if kvm_monitor == "vnc" %}
[vnc "default"]
  vnc = "unix:/tmp/{{ kvm_machine.name }}-kvm/{{ kvm_machine.name }}.vnc.S"

{% else %}
[spice]
  addr = "{{ kvm_machine_spice_addr }}"
  port = "{{ kvm_machine_spice_port }}"
  password = "{{ kvm_machine_spice_password }}"

{% endif %}
