# qemu config file

[drive]
  file = "/dev/zvol/{{ kvm_zfs_filesystem }}/{{ kvm_machine.name }}/disk"
  if = "{{ kvm_machine_drive_if }}"
  format = "raw"

{% for drive in kvm_machine.disks|default([]) %}
[drive]
  file = "/dev/zvol/{{ kvm_zfs_filesystem }}/{{ kvm_machine.name }}/disk_{{ drive.name }}"
  if = "{{ kvm_machine_drive_if }}"
  format = "raw"

{% endfor %}
[drive]
  if = "floppy"
  index = "0"
  file = "/dev/zvol/{{ kvm_zfs_filesystem }}/{{ kvm_machine.name }}/kickoff"
  format = "raw"

{% for filesystem in kvm_machine.filesystems|default([]) %}
[fsdev "{{ filesystem.name }}"]
  fsdriver = "local"
  path = "{{ kvm_image_root }}/{{ kvm_machine.name }}/fs_{{ filesystem.name }}/"
  security_model = "mapped"
  readonly = "{{ filesystem.readonly|default('off') }}"

[device]
  driver = "virtio-9p-pci"
  fsdev = "{{ filesystem.name }}"
  mount_tag = "{{ filesystem.name }}"

{% endfor %}
[chardev "mon0"]
  backend = "socket"
  server = "on"
  path = "/tmp/{{ kvm_machine.name }}-kvm/{{ kvm_machine.name }}.monitor.S"
  wait = "off"

{% if 'admin_net' not in kvm_machine or kvm_machine.admin_net == True %}
[device]
  driver = "virtio-net-pci"
  addr = "9"
  netdev = "admin0"

[netdev "admin0"]
  type = "user"
  hostname = "{{ kvm_machine.name }}"
  restrict = "yes"
  hostfwd = "tcp:127.0.0.1:{{ kvm_machine_uid }}-:{{ kvm_machine_admin_port }}"
{% for k in kvm_guestfwd %}  guestfwd = "{{ k }}"
{% endfor %}

{% endif %}
{% for bridge in kvm_machine.bridge %}
{% set macbase=[bridge.guest, kvm_machine.name]|join('@')|checksum %}
[device]
  driver = "virtio-net-pci"
  netdev = "{{ bridge.guest }}"
  addr = "{{ '%x'|format(bridge.guest|regex_replace('^e..','')|int) }}"
  mac = "{{ bridge.mac|default(['52', '54', '00', macbase[0:2], macbase[2:4], macbase[4:6]]|join(':')) }}"

[netdev "{{ bridge.guest }}"]
  type = "bridge"
  br = "{{ bridge.host }}"

{% endfor %}
[mon]
  chardev = "mon0"
  mode = "readline"

[machine]
  accel = "{{ kvm_machine_accel_cur }}"
  firmware = "{{ kvm_firmware_root }}/{{ kvm_machine_firmware_type }}.firmware"
  graphics = "off"
{% if 'usb_host' in kvm_machine %}  usb = "on"
{% endif %}

{% if 'usb_host' in kvm_machine %}
{% for usb_host in kvm_machine.usb_host %}
[device]
  driver = "usb-host"
{% for k in usb_host.keys() %}  {{ k }} = "{{ usb_host[k] }}"
{% endfor %}

{% endfor %}
{% endif %}
[memory]
  size = "{{ kvm_machine.memory|default('1024') }}"

[smp-opts]
  cpus = "{{ kvm_machine.cpu|default(1) }}"

{% if kvm_monitor == "vnc" %}
[vnc "default"]
  vnc = "unix:/tmp/{{ kvm_machine.name }}-kvm/{{ kvm_machine.name }}.vnc.S"

{% else %}
[spice]
  addr = "{{ kvm_machine_spice_addr }}"
  port = "{{ kvm_machine_spice_port }}"
  password = "{{ kvm_machine_spice_password }}"

{% endif %}
