#!/bin/bash
if [[ ! -d "/tmp/{{ kvm_machine.name }}-kvm" ]]
then
	umask 077
	mkdir "/tmp/{{ kvm_machine.name }}-kvm" || exit $?
	umask 022
fi

if [[ $(stat -c %a /tmp/{{ kvm_machine.name }}-kvm) != "700" ]]
then  
	echo  /tmp/{{ kvm_machine.name }}-kvm has insecure permissions
	exit 3
fi

if [[ $(stat -c %G /tmp/{{ kvm_machine.name }}-kvm) != "{{ kvm_machine.name }}" ]]
then  
	echo  /tmp/{{ kvm_machine.name }}-kvm has insecure permissions
	exit 4
fi

if [[ $(stat -c %U /tmp/{{ kvm_machine.name }}-kvm) != "{{ kvm_machine.name }}" ]]
then  
	echo  /tmp/{{ kvm_machine.name }}-kvm has insecure permissions
	exit 5
fi

if [[ -S /tmp/{{ kvm_machine.name }}-kvm/{{ kvm_machine.name }}.monitor.S ]]
then
	ps -eaf  | grep qemu-system-x86_64 | grep {{ kvm_image_root }}/{{ kvm_machine.name }}/qemu.conf 2> /dev/null
	if [[ $? != 0 ]]
	then
		echo It appears that there is a socket file but no other qemu instance
		echo I will take the risk deleting it and go ahead 
		rm -f /tmp/{{ kvm_machine.name }}-kvm/{{ kvm_machine.name }}.monitor.S
	else
		echo There is a monitor socket file there, pse check fo another qemu instance 1st
		exit 2
	fi
fi

{% if 'allow_nesting' in kvm_machine and kvm_machine.allow_nesting == 'yes' %}
qemu-system-x86_64 -cpu host -net none -readconfig {{ kvm_image_root }}/{{ kvm_machine.name }}/qemu.conf -daemonize
{% else %}
qemu-system-x86_64 -net none -readconfig {{ kvm_image_root }}/{{ kvm_machine.name }}/qemu.conf -daemonize
{% endif %}
# alternative here 
# xl create {{ kvm_image_root }}/{{ kvm_machine.name }}/xl.cfg
