#!/usr/lib/fw-lib.sh

require kvm_sphere

{% for num in [1, 2, 3, 4, 5] %}
{% if num == 1 %}
ip6tables -t nat -I PREROUTING -p tcp --dport {{ kvm_machine_uid|int(0, 10)+num }} -j DNAT --to-destination fd46:2c40:5b62:1265::aae:867f
ip6tables -I FORWARD -p tcp --dport {{ kvm_machine_uid|int(0, 10)+num }} -d fd46:2c40:5b62:1265::aae:867f/128 -j ACCEPT
iptables -t nat -I PREROUTING -p tcp --dport {{ kvm_machine_uid|int(0, 10)+num }} -j DNAT --to-destination 10.174.134.127
iptables -I FORWARD -p tcp --dport {{ kvm_machine_uid|int(0, 10)+num }} -d 10.174.134.127/32 -j ACCEPT
{% else %}
ip6tables -t nat -D PREROUTING -p tcp --dport {{ kvm_machine_uid|int(0, 10)+num }} -j DNAT --to-destination fd46:2c40:5b62:1265::aae:867f
ip6tables -D FORWARD -p tcp --dport {{ kvm_machine_uid|int(0, 10)+num }} -d fd46:2c40:5b62:1265::aae:867f/128 -j ACCEPT
iptables -t nat -D PREROUTING -p tcp --dport {{ kvm_machine_uid|int(0, 10)+num }} -j DNAT --to-destination 10.174.134.127
iptables -D FORWARD -p tcp --dport {{ kvm_machine_uid|int(0, 10)+num }} -d 10.174.134.127/32 -j ACCEPT
{% endif %}
{% endfor %}
