[Unit]
Description=QEMU KVM {{ kvm_machine.name }} 
After=network.target auditd.service
ConditionPathExists={{ kvm_image_root }}/{{ kvm_machine.name }}/{{ kvm_machine.name }}.status.enabled
PartOf=multi-user.target
{% if 'vm_rollback_on_start' not in kvm_machine and kvm_machine.vm_rollback_on_start == True %} 
Requires vm-{{ kvm_machine.name }}.socket
{% endif %}

[Service]
{% if 'vm_rollback_on_start' in kvm_machine and kvm_machine.vm_rollback_on_start == True %}
ExecStart=/usr/local/bin/{{ kvm_machine.name }}_start.sh
{% else %}
ExecStart={{ kvm_image_root }}/{{ kvm_machine.name }}/start.sh
ExecStop={{ kvm_image_root }}/{{ kvm_machine.name }}/stop.sh
{% endif %}
{% if 'vm_rollback_on_start' not in kvm_machine or kvm_machine.vm_rollback_on_start == False %}
{# if we doo rollback we have to run the zfs parts as root, or grant access to the user #}
{# to do so. root may be easier for now #}
User={{ kvm_machine.name }}
Group={{ kvm_machine.name }}
KillMode=process
Restart=always
TimeoutStopSec=60s
TimeoutStartSec=300s
{% else %}
KillMode=control-group
Restart=on-failure
RestartSec=3s
TimeoutStopSec=3s
TimeoutStartSec=infinity
{% endif %}
Type=forking

[Install]
WantedBy=multi-user.target

